<div>这是我主页</div>
<hr>
<app-server> 我是一个倒入的 component</app-server>
<!--Asg1-->
<!--<div class = container>-->
<!--  <nav>-->
<!--    <ul>-->
<!--      <li>Home</li>-->
<!--      <li>Taco Menu</li>-->
<!--      <li>Draft List</li>-->
<!--      <li>Hours</li>-->
<!--      <li>Directions</li>-->
<!--      <li>Contact</li>-->
<!--    </ul>-->
<!--  </nav>-->

<!--  <div class = section>-->
<!--    <section>section 的 margin-left 样式确保了有足够的空间容纳nav元素</section>-->
<!--    <section>-->
<!--      Lorem ipsum dolor sit amet, consectetur adipiscing elit.Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc veneatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.-->
<!--    </section>-->
<!--    <section>注意观察当你调整浏览器窗口时发生了什么，效果很赞！</section>-->
<!--  </div>-->
<!--</div>-->

<!--Asg4>-->
<!--<div class="full_screen">-->
<!--  <div class = login_box>-->
<!--    <div class = login_content>-->
<!--      <div class="row"><input type="username" class="form-control" placeholder="username"> </div>-->
<!--      <div class="row"><input type="password"  class="form-control" placeholder="password"></div>-->
<!--      <div class="row"><button class="btn btn-primary btn-lg btn-block">LOGIN</button></div>-->
<!--      <div style="text-align:center">-->
<!--        <small>-->
<!--          Not registered? <a href="#"> Create an account</a>-->
<!--        </small>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
