<div class="container">
  <div class="box">

    <div class = "head_toe box_inner">
      <h2>Choose Your Ingredients</h2>
    </div>

    <div class = "torso_view box_inner">
<!--      <div><span *ngFor="let ingredient of ingredients">{{ingredient}} </span></div>-->
      <div><span>{{getContent()}} </span></div>
<!--      <div>{{result}}</div>-->
    </div >

    <div class = "box_inner torso_button">
      <div class="button_row">
        <button (click)="addIngredient('bread')">Bread</button>
        <button (click)="addIngredient('bagel')">Bagel</button>
        <button (click)="addIngredient('wrap')">Wrap</button>
      </div>
      <div class="button_row">
        <button (click)="addIngredient('sausage')">Sausage</button>
        <button (click)="addIngredient('steak')">Steak</button>
        <button (click)="addIngredient('egg')">Egg</button>
      </div>
      <div class="button_row">
        <button (click)="addIngredient('lettuce')">Lettuce</button>
        <button (click)="addIngredient('tomato')">Tomato</button>
        <button (click)="addIngredient('avocado')">Avocado</button>
      </div>
    </div>
    <div class = "box_inner head_toe">
      <button (click)="cook()">Cook</button>
      <button (click)="clear()" class="">Clear</button>
    </div>
  </div>

</div>
